<section class="phx-hero">
  <h1><%= @user.name %></h1>
  @<%= @user.username %>
</section>

<%= for post <- @posts do %>
  <%= live_component(@socket, ExMicroBlogWeb.PostComponent, user: @user, post: post) %>
<% end %>
