<section class="phx-hero">
  <h1><%= @user.name %></h1>
  @<%= @user.username %>
</section>

<table>
  <%= for post <- @posts do %>
    <tr>
        <td><%= post.text %></td>
    </tr>
  <% end %>
</table>
